
.master-container {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    margin: auto;
    align-items: center;
    max-width: 1477px;
}

#h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    cursor: default;
    white-space: nowrap;
}

.spans {
    color: fuchsia;
    font-size: 10rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    cursor: default;
    /*text-shadow: -1px 0 magenta, 0 1px magenta, 1px 0 red, 0 -1px magenta;*/
}

/*#menu-container {
    display: flex;
    margin: auto;
    padding-left: 67.5px; /*27px on Brave*//*
    width: 39.9%;
}

#menu {
    height: 40px;
    width: 93%; /*97.65% on Brave*//*
    background-color: lightgrey;
    display: flex;
}*/

#menu {
    width: 585px;
    display: flex;
    height: 30px;
}

#frst {
    width: 35px;
    background-color: white;
}

.tabs {
    width: 65px;
    font-size: 1rem;
    padding-top: 5.5px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    background-color: lightgrey;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: white;
    cursor: pointer;
}

#eos {
    margin-right: 2px;
    background-color: steelblue;
}

#btc {
    margin-right: auto;
    background-color: orange;
}

#eur {
    margin-left: 2px;
    background-color: #000099;
    color: #FEDD00;
}

#usd { background-color: #85bb65; }

#scnd {
    width: 8px;
    background-color: white;
}

#chart-container {
    max-width: 1477px;
    width: 585px;
    display: flex;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h2 span {
    background-color: pink;
    opacity: .5;
    cursor: text !important;
}

#different-master-container {
    max-width: 1477px;
    display: flex;
    width: 585px;
    margin: auto;
}

form {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    width: 100%;
} 

form span {
    margin-bottom: 5px;
    max-height: 33px;
    border-radius: 3px;
    font-family: 'Lato', 'sans-serif';
    background-color: lightgrey;
    font-weight: 900;
    color: white;
}

input {
    padding-left: 13px;
    border: none;
    background-color: lightgrey;
    height: 30px;
    font-family: 'Lato', 'sans-serif';
    font-weight: 900;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/* Removes onclick button outlines on Chrome and FF */
input {
   outline:none;
}
input ::-moz-focus-inner {
   border: 0;
}

#frst-input {
    /*margin-bottom: 5px;*/
}

#scnd-input {
    cursor: default;
}

@media(max-width: 600px) {
    body .master-container, body #chart-container, body #different-master-container, body #menu {
        width: 95%;
    }
    #menu #frst { width: 23px; }
    #menu #scnd { width: 0;  }
    #menu .tabs { width: 60px; font-size: .9rem; }
    #eur { margin-right: -4.5px; }
}

@media(max-width: 520px) {
    #menu #eur { margin-right: -2.5px; }   
}

/*@media(max-width: 500px) {
    #h1 { font-size: 3.5rem; }
    #h1 .spans { font-size: 17rem; }
    #chart-container .chartjs-size-monitor canvas { width: 95%; height: auto; margin: 0 auto; }
}*/

