.master-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 585px;
    width: 585px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    cursor: default;
    white-space: nowrap;
}

.spans {
    color: fuchsia;
    font-size: 9.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    cursor: default;
}

.six-digits {
    margin: 30px 5px 0 auto;
}

#menu {
    width: 585px;
    display: flex;
    height: 30px;
    margin-bottom: 6px;
}

.tabs {
    width: 65px;
    font-size: 1rem;
    padding-top: 5.5px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    background-color: lightgrey;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: white;
    cursor: pointer;
}

#eos {
    margin-right: 2.5px;
    background-color: steelblue;
}
#eos:hover { background-color: #1f86db; }


#btc {
    margin-right: auto;
    background-color: orange;
}
#btc:hover { background-color: #ffb916; }


#usd { background-color: #85bb65; }
#usd:hover { background-color: #7dd24b; }


#eur {
    margin-left: 2px;
    background-color: #000099;
    color: #FEDD00;
}
#eur:hover { background-color: #0000cc; color: yellow; }



#chart-container {
    max-width: 1477px;
    width: 585px;
    display: flex;
    margin: 0 auto;
}

#chart-container-img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    display: none;
}

#failedAPI {
	height: fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.02);
}

#different-master-container {
    max-width: 1477px;
    display: flex;
    width: 585px;
    margin: auto;
}

form {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(max-width: 520px) {
  form { width: 550px; }
}

form span {
    margin-bottom: 5px;
    max-height: 33px;
    border-radius: 3px;
    font-family: 'Lato', 'sans-serif';
    background-color: lightgrey;
    font-weight: 900;
    color: white;
}

input {
    font-size: 16px;
    width: 92%;
    padding-left: 13px;
    border: none;
    border-radius: 3px;
    background-color: lightgrey;
    height: 30px;
    font-family: 'Lato', 'sans-serif';
    font-weight: 900;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/* Removes onclick button outlines on Chrome and FF */
input {
   outline:none;
}
input ::-moz-focus-inner {
   border: 0;
}

#scnd-input {
    cursor: default;
}

/*CSS Rules for long crypto price tags*/
/*six digits*/
.six-digit-h1 {
    margin: 56px 5px 0 auto;
}

h1 .six-digit-spans {
    font-size: 6.5rem;
}

/*seven digits*/
.seven-digit-h1 {
    margin: 50px 4px 0 auto;
}

h1 .seven-digit-spans {
    font-size: 6rem;
}

@media(max-width: 630px) {
    body {
      width: 90%;
      margin: 0 auto 0 auto;
    }

    .master-container {
      margin: 0;
      max-width: unset;
    }

    #menu .tabs { width: 60px; font-size: .9rem; }
    #eos { margin-right: 1.5px; }
    #cryptoName { font-size: 5vw; }
    .spans { font-size: 27vw; }
    #h1 .six-digit-spans { font-size: 16.7vw; } /*for when crypto price is 6 digits long*/
    #h1 .seven-digit-spans { font-size: 14.6vw; } /*7 digits long*/
    body .master-container, body #chart-container, body #different-master-container, body #menu { width: 100%; }
    .six-digit-h1 { margin-right: 8px; } /*for when crypto price is 6 digits long*/
    .seven-digit-h1 { margin: 30px 8px 0 auto; } /*7 digits long*/
    #frst-input { width: 85%; }
}

@media(min-width: 220px) and (max-width: 430px) {
    .six-digit-h1 { margin-right: 8px; } /*for when crypto price is 6 digits long*/
    .seven-digit-h1 { margin-right: 8px; } /*7 digits long*/
    #menu { margin-top: 6px; }
    #menu .tabs { padding-top: 6px; width: 45px; font-size: .7rem; }
    #menu { height: 24px; }
    span input { height: 25px; font-size: 15px; }
    span { font-size: 15px; }
}
